Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-else-after-return,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-math-missing-parentheses,
  -cppcoreguidelines-macro-usage,
  -readability-braces-around-statements,
  -modernize-use-auto,
  -cppcoreguidelines-avoid-c-arrays,
  -readability-isolate-declaration,
  -readability-use-concise-preprocessor-directives,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
ExcludeHeaderFilterRegex: '.*(_deps|build|/usr/).*'
